<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <queries>
        <package android:name="com.android.launcher3" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyGuardian"
        tools:targetApi="31">
        <activity
            android:name=".activities.EditSecretActivity"
            android:exported="false"
            android:parentActivityName="com.example.keyguardian.activities.SecretsListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.keyguardian.activities.SecretsListActivity" />
        </activity>
        <activity
            android:name=".activities.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LockscreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SecretsListActivity"
            android:exported="false"
            android:label="@string/title_activity_secrets_list"
            android:theme="@style/Theme.KeyGuardian" />
        <activity
            android:name=".activities.MainActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/Theme.KeyGuardian">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>